@font-face {
    font-family: "Alexandria";
    src: url(fonts/Alexandria-VariableFont_wght.ttf);
}



/* COLORS */

:root {
    --color0: #FBF8F1; /* RGB : 252 248 241 */
    --color1: #D3E0EA; /* RGB : 211 224 234 */
    --color2: #4E64A6; /* RGB : 78  100 166 */
    --color3: #273273; /* RGB : 39  50  115 */

    --page-width: 1000px;
}



/* ELEMENTS */

a:link, a:visited {
    text-decoration:none;
    color: var(--color3);
}

a:visited {
    text-decoration:none;
}

a:active {
    text-decoration: none;
    color: var(--color2);
}

body {
    font-family: "Alexandria";
    background-color: var(--color0);
    margin: 0px;
    text-align: center;
}

footer {
    color: var(--color1);
    display: flex;
    flex-direction: row;
    background-color: var(--color3);
    height: 80px;
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    justify-content: center;
}



/* IDS */

#grand-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upper-navigation-bar-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#upper-navigation-bar-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}



/* CLASSES */

.content {
    height: 400px;
    width: 80vw;
    margin-top: 0;
    border: 1px solid red;
}

#footer-div a.footer-link-default, #footer-div a.footer-link-default:active, #footer-div a.footer-link-default:visited {
    color: var(--color1);
    display: inline;
}

.make-article-clickable {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.make-logo-clickable {
    position:absolute; 
    width:20%;
    height:100%;
    top:0;
    left: 0;
}



@media(min-width: 1000px) {

    /* IDS */

    /* article - heading styling */

    #article-heading-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        width: 800px;
        margin-top: 35px;
        height: 375px;
        line-height: 30px;
        background-color: #F4F0E6;
    }
    
    #article-heading-category {
        color: var(--color2);
        margin-top: 25px;
        padding: 0 40px 0 40px;
        font-weight: 600;
    }
    
    #article-heading-title {
        color: var(--color3);
        padding: 0 40px 0 40px;
        font-size: xx-large;
        font-weight: 700;
        line-height: 40px;
    }
    
    #article-heading-introduction {
        color: var(--color2);
        padding: 0 40px 0 40px;
        font-weight: 450;
        box-sizing: border-box;
    }
    
    #article-heading-subtitle-bar {
        height: 8px;
        background-color: #8BBCCC;
        width: 120px;
        margin-left: 40px;
    } 
    
    #article-heading-details {
        color: #717b8e;
        max-width: 1000px;
        font-weight: 500;
        font-size: 14px;
        padding: 0 40px 0 40px;
    }
    
    #article-heading-image {
        width: 720px;
        height: 320px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    #article-heading-image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 800px;
        /* border-left: 2px solid var(--color2);
        border-right: 2px solid var(--color2); */
        background-color: #F4F0E6;
    }
    
    #article-heading-image-caption {
        color: #717b8e;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10px;
    }

    /* article - content styling */
    
    #article-content {
        color: var(--color2);
        font-weight: 300;
        text-align: left;
        width: 800px;
        margin-bottom: 10px;
        line-height: 30px;
        /* border-left: 2px solid var(--color2);
        border-right: 2px solid var(--color2); */
        background-color: #F4F0E6;
    }

    #introduction {
        color: var(--color2);
        font-weight: 300;
        text-align: left;
        width: var(--page-width);
        line-height: 30px;
        margin-top: 20px;
    }

    #footer-div {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    #logo-top-left {
        width: 240px;
        margin-left: 20px;
    }

    #upper-navigation-bar {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 10;
    
        background-color: var(--color1); /* rgba(218,226,182,0.8) */
        font-weight: 600;
        height: 60px;
        box-shadow: 0 0 15px 0.1px rgba(39, 50, 115, 0.45); /* RGB : 39  50  115 */
    }

    #upper-navigation-bar-logo {
        margin-left: 15px;
    }

    #upper-navigation-bar-menu {
        display: none;
    }

    #social-media-section {
        display: none; /* à mettre en flex */
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 400px;
    }



    /* CLASSES */

    /* article a la une */

    .article-alu {
        display: flex;
        flex-direction: row;
        width: 1000px;
        position:relative;
        margin: 30px 0 40px 0px;
        align-items: center;
        line-height: 20px;
        border-radius: 7px 7px 7px 7px;
        transition: all 100ms ease-in;
    }

    .article-alu:hover {
        box-shadow: 0 0 10px 0.1px rgba(39, 50, 115, 0.35); /* RGB : 39  50  115 */
    }

    .article-alu-image {
        height: 250px;
        width: 250px;
        border-radius: 7px 0 0 7px;
        background-image: url(../static/img/unsplash-0020.jpg);
        background-size: 160%;
        background-position: 60% 15%;
    }

    .article-alu-overview {
        display: flex;
        flex-direction: column;
        background-color: rgba(211, 224, 234, 0.5);
        padding: 20px 20px 20px 20px;
        height: 210px;
        width: 710px;
        align-content: left;
        justify-content: space-around;
        border-radius: 0 7px 7px 0;
        text-align: left;
    }

    .article-alu-overview-category {
        color: var(--color2);
        font-weight: 600;
    }

    .article-alu-overview-title {
        color: var(--color3);
        font-size: x-large;
        font-weight: 600;
    }

    .article-alu-overview-extract {
        color: grey;
        font-weight: 350;
        line-height: 25px;
    }

    /* article body styling */

    .article-citation {
        color: #717b8e;
        padding: 0 40px 0 40px;
        font-style: italic;
        text-align: center;
    }

    .article-color-red {
        color: red;
    }
    
    .article-paragraph {
        padding: 0 40px 0 40px;
        list-style-position: inside;
    }
    
    .article-h1 {
        font-size: 22px;
        font-weight: 700;
        color: #273273;
        padding: 0 40px 0 40px;
        margin-top: 50px;
    }
    
    .article-h2 {
        font-size: 18px;
        font-weight: 600;
        color: #273273;
        padding: 0 40px 0 40px;
    }
    
    .article-h3 {
        font-size: 15px;
        font-weight: 500;
        color: #273273;
        padding: 0 40px 0 40px;
        text-align: center;
    }
    
    a.article-link {
        border-bottom: 3px ridge var(--color2);
        color: var(--color3);
    }
    
    .article-link:hover {
        background-color: var(--color1);
        color: var(--color2);
    }


    /* article image */

    .article-image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 800px;
        margin-top: 20px;
        background-color: #F4F0E6;
    }

    .article-00002-image-001 {
        /* 568 x 430 // facteur 0.75 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img001.png);
        background-size: cover;
        width: 426px;
        height: 322px;
    }

    .article-00002-image-002 {
        /* 1014 x 1080 // facteur 0.45 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img002.png);
        background-size: cover;
        width: 456px;
        height: 486px;
    }

    .article-00002-image-003 {
        /* 1322 x 758 // facteur 0.5 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img003.png);
        background-size: cover;
        width: 661px;
        height: 379px;
    }

    .article-00002-image-004 {
        /* 2511 x 678 // facteur 0.25 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img004.png);
        background-size: cover;
        width: 628px;
        height: 169px;
    }

    .article-00002-image-005 {
        /* 2314 x 1294 // facteur 0.3 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img005.png);
        background-size: cover;
        width: 694px;
        height: 388px;
    }

    .article-00002-image-006 {
        /* 1972 x 1000 // facteur 0.3 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img006.png);
        background-size: cover;
        width: 591px;
        height: 300px;
    }

    .article-image-caption {
        color: #717b8e;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10px;
    }


    /* article lambda */

    .article-lb-section {
        display: flex;
        flex-direction: row ;
        height: 300px;
        width: 1000px;
        
        margin: 30px 0 30px 0px;
        justify-content: space-between;
    }

    .article-lb {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 300px;
        width: 300px;
        border-radius: 7px 7px 7px 7px;
        transition: all 100ms ease-in;
    }

    .article-lb:hover {
        box-shadow: 0 0 15px 0.1px rgba(39, 50, 115, 0.45); /* RGB : 39  50  115 */
    }

    .article-lb-image {
        height: 130px;
        width: 300px;
        border-radius: 7px 7px 0 0;

        background-image: url(../static/img/unsplash-0012.jpg);
        background-size: 120%;
        background-position: center 0%;
    }

    .article-lb-overview {
        display: flex;
        flex-direction: column;
        height: 160px;
        width: 280px;
        padding: 5px 10px 5px 10px;
        justify-content: space-around;
        background-color: rgba(211, 224, 234, 0.5);
        border-radius: 0 0 7px 7px;
        text-align: left;
    }

    .article-lb-overview-category {
        color: var(--color2);
        font-size: small;
        font-weight: 600;
    }

    .article-lb-overview-title {
        color: var(--color3);
        font-size: large;
        font-weight: 600;
    }

    .article-lb-overview-extract {
        color: grey;
        font-weight: 300;
        line-height: 20px;
        font-size: small;
    }


    /* tous nos articles - apercus d'articles */

    .glimpse-article-section {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 900px;
        height: 100px;
        margin: 20px 0 30px 0;
        border-radius: 5px 5px 5px 5px;
        transition: all 100ms ease-in;
    }

    .glimpse-article-section:hover {
        box-shadow: 0 0 10px 0.1px rgba(39, 50, 115, 0.35); /* RGB : 39  50  115 */
    }

    .glimpse-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-end;
        width: 100px;
        height: 100px;
        border-radius: 5px 0 0 5px;
    }

    .glimpse-infos {
        display: flex;
        line-height: 30px;
        flex-direction: column;
        width: 800px;
        text-align: left;
        justify-content: space-around;
        background-color: rgba(211, 224, 234, 0.5);
    }

    .glimpse-infos-title {
        color: var(--color3);
        padding-left: 10px;
        font-size: 17px;
        font-weight: 600;
        text-align: left;
        margin-top: 4px;
    }

    .glimpse-infos-description {
        color: var(--color2);
        font-size: 14px;
        padding-left: 10px;
        margin-bottom: 4px;
    }

    .glimpse-infos-details {
        color: grey;
        padding-left: 10px;
        font-weight: 400;
        font-size: small;
    }

    /* qui sommes nous - team présentation */

    .qui-sommes-nous-drawings-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .qui-sommes-nous-a-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 25px 0 25px;

    }

    .qui-sommes-nous-details {
        color: var(--color3);
        font-size: 15px;
        font-weight: 500;
        margin-top: 6px;
    }

    .qui-sommes-nous-drawing {
        width: 220px;
        height: 220px;
    }

    .select-menu {
        display: none;
    }


    /* titre avec trait horizontal */

    .title-section {
        display: flex;
        width: 1200px;
        align-self: center;
        flex-direction: row;
        margin: 40px 0 0 0;
        align-items: center;
        justify-content: center;
    }

    .title-section div {
        color: var(--color3);
        text-transform: uppercase;
        font-weight: 700;
        font-size: x-large;
    }

    .title-section-hr-w750 {
        height: 3px;
        width: 750px;
        margin-left: 15px;
        background-color: var(--color3);
        border-radius: 5px;
    }

    .title-section-hr-w700 {
        height: 3px;
        width: 700px;
        margin-left: 15px;
        background-color: var(--color3);
        border-radius: 5px;
    }

    .title-section-hr-w30 {
        height: 3px;
        width: 30%;
        margin-left: 15px;
        background-color: var(--color3);
        border-radius: 5px;
    }

    /* barre de navigation */


    .upper-navigation-bar-atab {
        display: flex;
        height: 60px;
        flex-direction: column;
        justify-content: center;
        padding: 0px 15px 0px 15px;
        border-bottom: 3px solid transparent;
    }

    .upper-navigation-bar-atab:hover {
        border-bottom: 3px solid var(--color2);
    }
}


@media(max-width: 1000px) {

    footer {
        height: 16vw;
        line-height: 5vw;
        font-size: 3vw;
    }

    /* IDS */

    #article-content {
        color: var(--color2);
        font-weight: 350;
        font-size: 5vw;
        text-align: left;
        width: 100vw;
        box-sizing: border-box;
        line-height: 8vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #article-heading-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        width: 100%;
        line-height: 30px;
    }

    #article-heading-category {
        padding: 0;
        color: var(--color2);
        margin-top: 5vw;
        margin-bottom: 5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        font-weight: 500;
        font-size: 5vw;
    }

    #article-heading-title {
        color: var(--color3);
        font-size: 7vw;
        line-height: 9vw;
        font-weight: 600;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-bottom: 5vw;
    }

    #article-heading-subtitle-bar {
        height: 2vw;
        background-color: #8BBCCC;
        width: 18%;
        margin-left: 2vw;
    } 

    #article-heading-introduction {
        box-sizing: border-box;
        padding: 0;
        color: var(--color2);
        line-height: 8vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
        padding-left: 2vw;
        padding-right: 2vw;
        font-weight: 350;
        font-size: 5vw;
    }

    #article-heading-details {
        box-sizing: border-box;
        line-height: 8vw;
        color: #717b8e;
        padding-left: 2vw;
        padding-right: 2vw;
        font-weight: 450;
        font-size: 4vw;
    }

    #article-heading-image {
        width: 100vw;
        height: 50vw;
        margin-top: 3vw;
        margin-bottom: 1vw;
    }

    #article-heading-image-caption {
        color: #717b8e;
        font-size: 3vw;
        font-style: italic;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3vw;
    }

    #article-h2-section {
        margin: 10px 0 10px;
    }
    
    #footer-div {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    #introduction {
        color: var(--color2);
        font-size: 4vw;
        font-weight: 300;
        text-align: justify;
        width: 95vw;
        line-height: 8vw;
        margin: 2vw 1vw 0px 1vw;
        box-sizing: border-box;
    }
    
    #logo-top-left {
        height: 8vw;
        margin-left: 0;
    }

    #social-media-section {
        display: none; /* à mettre en flex */
    }

    #upper-navigation-bar {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    
        width: 100vw;
        height: 16vw;
        position: sticky;
        top: 0;
        z-index: 10;
    
        background-color: var(--color1); /* rgba(218,226,182,0.8) */
        font-weight: 600;
        box-shadow: 0 0 15px 0.1px rgba(39, 50, 115, 0.45); /* RGB : 39  50  115 */
    }

    #upper-navigation-bar-logo {
        margin-left: 4vw;
    }



    /* CLASSES */

    /* homepage - Article À La Une */

    .article-alu {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 80vw;
        width: 80vw;
        margin: 2vw 0 2vw 0px;
        border-radius: 2vw 2vw 2vw 2vw;
    }

    .article-alu-image {
        height: 35vw;
        width: 80vw;
        border-radius: 2vw 2vw 0 0;
    }

    .article-alu-overview {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        height: 45vw;
        width: 80vw;
        padding: 1vw 2vw 1vw 2vw;
        justify-content: space-around;
        background-color: rgba(211, 224, 234, 0.5);
        border-radius: 0 0 2vw 2vw;
        text-align: left;
    }

    .article-alu-overview-category {
        color: var(--color2);
        font-size: 3vw;
        font-weight: 600;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .article-alu-overview-title {
        color: var(--color3);
        font-size: 5vw;
        font-weight: 600;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .article-alu-overview-extract {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        
        max-width: 80vw;
        color: grey;
        font-weight: 400;
        font-size: 3vw;
        box-sizing: border-box;
        overflow: hidden;
        line-height: 5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    /* article - body styling */

    .article-citation {
        color: #717b8e;
        padding: 0 40px 0 40px;
        font-style: italic;
        text-align: center;
    }

    .article-color-red {
        color: red;
    }
    
    .article-paragraph {
        list-style-position: inside;
    }
    
    .article-h1 {
        font-size: 9vw;
        font-weight: 600;
        line-height: 10vw;
        color: var(--color3);
        margin-top: 16vw;
    }
    
    .article-h2 {
        font-size: 7vw;
        font-weight: 550;
        color: var(--color3);
        margin-top: 8vw;
    }
    
    .article-link {
        color: currentColor;
        text-decoration: underline var(--color3) 10px;
    }
    
    .article-link:hover {
        background-color: var(--color1);
        color: var(--color3);
    }

    .article-image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 4vw;
    }

    .article-00002-image-001 {
        /* 568 x 430 // facteur 1.4 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img001.png);
        background-size: cover;
        width: 795px;
        height: 602px;
    }

    .article-00002-image-002 {
        /* 1014 x 1080 // facteur 0.8 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img002.png);
        background-size: cover;
        width: 811px;
        height: 864px;
    }

    .article-00002-image-003 {
        /* 1322 x 758 // facteur 0.6 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img003.png);
        background-size: cover;
        width: 793px;
        height: 455px;
    }

    .article-00002-image-004 {
        /* 2511 x 678 // facteur 0.35 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img004.png);
        background-size: cover;
        width: 879px;
        height: 237px;
    }

    .article-00002-image-005 {
        /* 2314 x 1294 // facteur  */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img005.png);
        background-size: cover;
        width: 925px;
        height: 518px;
    }

    .article-00002-image-006 {
        /* 1972 x 1000 // facteur 0.45 */
        display: flex;
        background-image: url(../static/img/article_images/article-00002-img006.png);
        background-size: cover;
        width: 887px;
        height: 450px;
    }

    .article-image-caption {
        color: #717b8e;
        font-size: 3vw;
        font-style: italic;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10px;
        line-height: 5vw;
    }


    /* Article Lambda */

    .article-lb {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 80vw;
        width: 80vw;
        margin: 2vw 0 2vw 0px;
        border-radius: 2vw 2vw 2vw 2vw;
        transition: all 100ms ease-in;
    }

    .article-lb-section {
        margin-bottom: 80px;
    }

    .article-lb-image {
        height: 35vw;
        width: 80vw;
        border-radius: 2vw 2vw 0 0;
    }

    .article-lb-overview {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        height: 45vw;
        width: 80vw;
        padding: 1vw 2vw 1vw 2vw;
        justify-content: space-around;
        background-color: rgba(211, 224, 234, 0.5);
        border-radius: 0 0 2vw 2vw;
        text-align: left;
    }

    .article-lb-overview-category {
        color: var(--color2);
        font-size: 3vw;
        font-weight: 600;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .article-lb-overview-title {
        color: var(--color3);
        font-size: 5vw;
        font-weight: 600;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .article-lb-overview-extract {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        
        max-width: 80vw;
        color: grey;
        font-weight: 400;
        font-size: 3vw;
        box-sizing: border-box;
        overflow: hidden;
        line-height: 6vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }


    /* tous nos articles - apercus d'articles */

    .glimpse-article-section {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 80vw;
        width: 80vw;
        margin: 2vw 0 8vw 0px;
        border-radius: 2vw 2vw 2vw 2vw;
        transition: all 100ms ease-in;
    }

    .glimpse-article-section:hover {
        box-shadow: 0 0 2vw 1vw rgba(39, 50, 115, 0.35); /* RGB : 39  50  115 */
    }

    .glimpse-image {
        height: 35vw;
        width: 80vw;
        border-radius: 2vw 2vw 0 0;
    }

    .glimpse-infos {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        height: 45vw;
        width: 80vw;
        padding: 1vw 2vw 1vw 2vw;
        justify-content: space-around;
        background-color: rgba(211, 224, 234, 0.5);
        border-radius: 0 0 2vw 2vw;
        text-align: left;
    }

    .glimpse-infos-title {
        color: var(--color3);
        font-size: 5vw;
        font-weight: 600;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .glimpse-infos-description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        
        max-width: 80vw;
        color: var(--color2);
        font-weight: 400;
        font-size: 3vw;
        box-sizing: border-box;
        overflow: hidden;
        line-height: 5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .glimpse-infos-details {
        max-width: 80vw;
        color: grey;
        font-weight: 400;
        font-size: 3vw;
        box-sizing: border-box;
        overflow: hidden;
        line-height: 5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    /* Qui sommes nous - team presentation */

    .qui-sommes-nous-drawings-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .qui-sommes-nous-a-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8vw;
    }

    .qui-sommes-nous-details {
        color: var(--color3);
        font-size: 4vw;
        font-weight: 450;
        margin-top: 2vw;
    }

    .qui-sommes-nous-drawing {
        width: 80vw;
        height: 80vw;
        margin-top: 4vw;
    }

    /* DropDown Menu 2 */

    .option {
        display: flex;
        width: 43vw;
        height: 15vw;
        cursor: pointer;
        align-items: center;
        color: var(--color3);
        background-color: var(--color1);
        justify-content: flex-end;
        box-sizing: border-box;
        padding-right: 4vw;
    }

    .options {
        display: none;
        position: absolute;
        background-color: var(--color1);
        width: 43vw;
        top: 12vw;
        right: 0;
        overflow-y: auto;
        box-shadow: 0 0 15px 0.1px rgba(39, 50, 115, 0.45);
    }

    .option-text {
        text-align: right;
        font-size: xx-large;
        font-weight: 600;
    }

    .select-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
    }

    .select-menu {
        display: flex;
        position: absolute;
        padding: 0 8vw 0 8vw;
        box-sizing: border-box;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
    }

    /* Titres */

    .title-section {
        display: flex;
        width: 100%;
        align-self: center;
        flex-direction: row;
        margin: 6vw 0 3vw 0;
        align-items: center;
        justify-content: center;
    }

    .title-section div {
        color: var(--color3);
        text-transform: uppercase;
        font-weight: 650;
        font-size: 6vw;
    }


    .upper-navigation-bar-atab {
        display: none;
    }
}

