body {
    margin: 0;
    height: 4000px;
}

#grand-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: aquamarine;
    width: 100%;
    height: 60px;
}

.content {
    height: 400px;
    width: 300px;
    margin-top: 0;
    border: 1px solid red;
}