<!DOCTYPE html>
<html lang="en">
<head>
    <title>Avenirs Souhaitables</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="icon" href="images/logo-favicon.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3e419ef354.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <nav id="upper-navigation-bar">

        <div id="upper-navigation-bar-logo" class="">
            <a href="/"><span class="make-logo-clickable"></span></a>
            <img src="{{ url_for('static', filename='img/logo-long.png') }}" id="logo-top-left" alt="logo">
        </div>

        <div id="upper-navigation-bar-tabs" class="">

            <div class="upper-navigation-bar-atab">
                <a href="{{ url_for('tous_nos_articles') }}">
                    Tous nos articles
                </a>
            </div>
    
            <div class="upper-navigation-bar-atab">
                <a href="{{ url_for('qui_sommes_nous') }}">
                    Qui sommes-nous ?

                </a>
            </div>

            <div class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text"></span>
                    <i class="fa-solid fa-bars fa-xl"></i>
                </div>
        
                <div id="options-list" class="options">

                    <div class="option">
                        <a href="{{ url_for('tous_nos_articles') }}"><span class="option-text">Tous nos articles</span></a>
                    </div>

                    <div class="option">
                        <a href="{{ url_for('qui_sommes_nous') }}"><span class="option-text">Qui sommes nous ?</span></a>
                    </div>

                </div>
            </div>
        
        </div>
    </nav>

    <div id="grand-parent">

        <div id="article-heading-section">

            <div id="article-heading-category">
                COMMUNAUTÉ
            </div>

            <div id="article-heading-title">
                Nous avons un site web !
            </div>

            <div id="article-heading-subtitle-bar"></div>

            <div id="article-heading-introduction">
                Après plusieurs semaines de développement, nous sommes ravis d'enfin pouvoir vous partager notre site internet. Dans un premier temps, nous publierons chaque semaine des articles informatifs sur les grands enjeux environnementaux. À plus long terme, nous chercherons à vous partager de nouveaux types de contenus.
            </div>

            <div id="article-heading-details">
                Écrit par <a href="https://www.linkedin.com/in/yassinebaouch/" class="article-link">Toto</a> &nbsp;-&nbsp; Publié le 16 janvier 2023 &nbsp;-&nbsp; <i class="fa-regular fa-clock"></i>&nbsp;Lecture : 2 min
            </div>

        </div>

        <div id="article-heading-image-section">

            <div id="article-heading-image"
                 style="
                    background-size: 100%;
                    background-position: 50% 55%;
                    background-image: url(../static/img/unsplash-0022.jpg);">
            </div>
            <div id="article-heading-image-caption">
                Photo by Jillian Kim on Unsplash
            </div>

        </div>

        <!-- <div id="article-00001-image">
        </div> -->

        <div id="article-content">
            <p class="article-h2">Enfin !</p>
            <p class="article-paragraph">Ça y est, on a enfin un site web ! Cela fait maintenant de longues semaines qu’on l’attendait et on est ravis de finalement pouvoir le partager avec vous. Nous avons passer beaucoup de temps à y réfléchir et designer les premières versions, c’est bon un plaisir d’enfin le voir accessible par tous. D’ailleurs si jamais vous vous posez la question de savoir qui c’est “on”, allez jeter un coup d’oeil à notre <a href="{{ url_for('qui_sommes_nous') }}" class="article-link">page Qui sommes-nous ?</a>, vous y trouverez une présentation rapide d’Avenirs Souhaitables et des différents membres de l’équipe.</p>
            <p class="article-h2">La première brique</p>
            <p class="article-paragraph">Ce premier pas va nous permettre de toucher une audience plus large et de proposer de nouveaux types de contenus que ce que nous avons pu faire jusqu’à présent sur LinkedIn. Dans un premier temps, nous allons nous concentrer sur des articles journalistiques. Ces articles ont vocation à creuser plus en profondeur les sujets relatifs à la préservation du climat et de la biodiversité. Le premier de ces articles est intitulé <a href="{{ url_for('article_00002') }}" class="article-link">“Pourquoi un objectif de 2 tonnes de CO2 en 2050?”</a>. À plus long terme, nous pourrons utiliser ce site internet pour continuer de construire et diversifier nos moyens de communication et de sensibilisation. </p>
            <p class="article-h2">La construction du site</p>
            <p class="article-paragraph">Il est également important de savoir que ce site a été entièrement construit par nos soins en utilisant les technologies web de base (HTML, CSS et JavaScript). En l’occurence ce n’est pas notre corps de métier initial et il est donc possible que certaines coquilles se soient glissées au passage. Si jamais vous en remarquez n’hésitez pas à nous le signaler, sur LinkedIn par exemple. Après si par hasard vous êtes experts, ou même juste amateur, de développement web, vous pouvez <a href="https://www.linkedin.com/in/thomas-waldura/" class="article-link">contacter notre responsable du site internet</a>. C’est avec grand plaisir que nous pourront échanger sur le code ou évoquer les différentes pistes d’amélioration. </p>
            <p class="article-paragraph">En attendant la parution de nouveaux articles, on vous invite à suivre notre page LinkedIn. Nous écrirons un post pour annoncer la mise en ligne de nos prochaines rubriques, qui arriveront vite !</p>


        </div>

     </div>

     <footer>
        <div id="footer-div">
            Vous pouvez suivre Avenir Souhaitables sur <a 
            href="https://www.linkedin.com/company/avenirs-souhaitables/"
            class="footer-link-default">
                &nbsp;<i class="fa-brands fa-linkedin fa-lg"></i>&nbsp;LinkedIn
            </a> 
        </div>

    </footer>

</body>

<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>

</html>