<!DOCTYPE html>
<html lang="en">
<head>
    <title>Avenirs Souhaitables</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=500, initial-scale=1.8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='logo-favicon.png') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3e419ef354.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <nav id="upper-navigation-bar">

        <div id="upper-navigation-bar-logo" class="">
            <a href="/"><span class="make-logo-clickable"></span></a>
            <img src="{{ url_for('static', filename='img/logo-long.png') }}" id="logo-top-left" alt="logo">
        </div>

        <div id="upper-navigation-bar-tabs" class="">

            <div class="upper-navigation-bar-atab">
                <a href="{{ url_for('tous_nos_articles') }}">
                    Tous nos articles
                </a>
            </div>
    
            <div class="upper-navigation-bar-atab">
                <a href="{{ url_for('qui_sommes_nous') }}">
                    Qui sommes-nous ?

                </a>
            </div>

            <div class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text"></span>
                    <i class="fa-solid fa-bars fa-4x"></i>
                </div>
        
                <div id="options-list" class="options">

                    <div class="option">
                        <a class="option-link" href="{{ url_for('tous_nos_articles') }}"><span class="option-text">Tous nos articles</span></a>
                    </div>

                    <div class="option">
                        <a href="{{ url_for('qui_sommes_nous') }}"><span class="option-text">Qui sommes nous ?</span></a>
                    </div>

                </div>
            </div>
        
        </div>
    </nav>

    <div id="grand-parent">
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
        <div class="content"></div>
    </div>

</body>

<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>

</html>